{% extends 'base.html' %}

{% block title %}
Редагувати товар
{% endblock %}

{% block content %}
  <div class="container">
    <h4 class="mb-3">Редагування товару: {{ product.name }}</h4>

    <form method="POST" class="row mb-4">
      <div class="col-md-3">
        <label for="price" class="form-label">Ціна</label>
        <input type="number" step="0.01" name="price" id="price" class="form-control" value="{{ product.price }}" required>
      </div>
      
      <div class="col-md-3">
        <label for="category" class="form-label">Категорія</label>
        <input type="text" name="category" id="category" class="form-control" value="{{ product.category }}" required>
      </div>

      <div class="col-md-3 d-flex align-items-end">
        <button type="submit" class="btn btn-primary me-2">Зберегти</button>
        <a href="{{ url_for('index') }}" class="btn btn-secondary">Скасувати</a>
      </div>
    </form>
  </div>
{% endblock %}